/* CSS files for buttons styles */

/* TEXT TITLES */

.default-h2 {
    color: var(--h2-title-color);
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-title);
}

.default-p {
    color: var(--default-text-color);
    font-size: var(--font-size-main);
    font-weight: var(--font-weight-main);
}

/* TEXT STYLES */

.vignette-date {
    color: var(--light-text-color);
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.note-description {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6;
    color: var(--default-text-color);
    border-left: 4px solid var(--component-transition-background-color);
    font-style: italic;
    padding-left: 1rem;
}

.tag-pill-labels {
    background: var(--pill-label-text-color);
    padding: 0.3em 0.8em;
    border-radius: 20px;
    font-size: 0.8rem;
    color: var(--deep-text-color);
}

/* TEXT GRADIENT SHIFT */

.text-color-gradient-animated {
    animation: color-gradient-shift 3s ease-in-out infinite;
    font-weight: bolder;
    position: relative;
}

/* TEXT ANIMATED GRADIENT UNDERLINE */

.text-animated-underline-gradient::before {
    content: attr(data-players);
    position: absolute;
    top: 50%;
    left: 0;
    font-size: var(--underline-height);
    font-weight: bold;
    color: var(--golden-gradient-shift-1);
    white-space: nowrap;
    transform: translateY(-50%);
    animation: slideLeftToRight 20s linear infinite;
    pointer-events: none;
    user-select: none;
    z-index: 0;
}

.text-animated-underline-gradient::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    height: var(--underline-height);
    width: 0;
    background: linear-gradient(90deg, var(--golden-gradient-shift-1), var(--golden-gradient-shift-2), var(--golden-gradient-shift-3));
    border-radius: 2px;
    animation: underlineExpandOnce 3s ease forwards;
}

@keyframes underlineExpandOnce {
    to { width: 100%; }
}

@keyframes slideLeftToRight {
    from { transform: translateX(0%); }
    to   { transform: translateX(-100%); }
}

/* TEXT FONTS */
.special-font-titles {
    font-family: "Festive", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5rem;
}