---
// PlayerStatsData.astro
import PlayerStatsTable from './PlayerStatsTable';

const { uuid } = Astro.props;

const res = await fetch(`https://otterlyapi.antredesloutres.fr/api/joueurs/stats-serveur/per-server-uid/${uuid}`);
const json = await res.json();

const playerDataList = json.data ?? [];
---

{playerDataList.length > 0 ? (
<PlayerStatsTable client:only="react" player={playerDataList} />
    ) : (
<p style="padding: 5em;">Ce joueur n’a pas de données.</p>
    )}
