:root {
    /* Colors */
    --color-white: #fff;

    --color-gray-light: #666;
    --color-gray: #444;
    --color-gray-deep: #222;

    --color-gold_light: #FFDDA0;
    --color-gold: #FFB347;
    --color-gold_deep: #FF8C42;

    /* Text */

}

/* Fonts */