:root {
    /* Colors */
    --color-white: #fff;

    --color-gray-light: #666;
    --color-gray: #444;
    --color-gray-deep: #222;
    --color-gray-deeper: #191919;

    --color-blueish-gray-light: #6b7280;
    --color-blueish-gray-deep: #1f2937;

    --color-gold-light: #FFDDA0;
    --color-gold: #FFB347;
    --color-gold-deep: #FF8C42;
    --color-gold-deeper: #a85926;

    --color-green-light: #0fa077;
    --color-green: #047857;
    --color-green-deep: #055941;

    --color-blue-light: #38a8d8;
    --color-blue: #297da1;
    --color-blue-deep: #054059;

    /* Bots colors */
    --color-mineotter: #9adeba;

    /* Text */
    --font-size-main: 1.2rem;
    --font-size-title: 1.8rem;
    --font-size-biggest-title: 2.4rem;
    --font-size-button: 1.2rem;

    --font-weight-main: normal;
    --font-weight-title: bold;
    --font-weight-biggest-title: bolder;
    --font-weight-button: bold;

    --underline-height: 0.1em;

    /* Other variables */
    --component-paperthin-transition: 8px;

    --sliding-cards-margin: 4em;
    --sliding-cards-hover-transform: translateX(20%) translateY(0);
}

/* Fonts */