:root {
    /* Colors */
    --color-white: #fff;

    --color-gray-light: #666;
    --color-gray: #444;
    --color-gray-deep: #222;

    --color-gold_light: #FFDDA0;
    --color-gold: #FFB347;
    --color-gold_deep: #FF8C42;

    /* Text */
    --font-size-main: 1.2rem;
    --font-size-title: 1.4rem;
    --font-size-biggest-title: 2rem;

    --font-weight-main: normal;
    --font-weight-title: bold;

    --underline-height: 0.1em;

    /* Other variables */
}

/* Fonts */