@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --background: #fed8b1;
  --foreground: #442d0f;
  --primary: #a67b5b;
  --secondary: #ecb176;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #442d0f;
    --foreground: #fed8b1;
    --primary: #ecb176;
    --secondary: #a67b5b;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
