---

---
<style>
    :root {
        --boutons: #222;
        --boutons-hover: #222;
        --fond: #fff;
    }

    .nav-menu {
        padding: 1rem 0;
        display: flex;
        justify-content: center;

        text-align: center;

        border-top: 2px solid var(--boutons-hover);
        border-radius: 0.8rem;

        gap: 1rem;
        flex-wrap: wrap;

        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
    }

    .nav-button {
        width: 90%;
        padding: 0.75rem 2rem;
        display: inline-block;

        font-size: 1.125rem;
        font-weight: 600;
        color: var(--boutons);
        text-decoration: none;

        border: 1.5px solid var(--boutons);
        border-radius: 0.5rem;

        transition: background-color 0.3s ease;
    }

    .nav-button:hover {
        color: var(--fond);
        background-color: var(--boutons-hover);
    }

    @media (min-width: 768px) {
        .nav-menu {
            display: none;
        }
    }
</style>


<div class="nav-menu">
    <a href="./classements/discord" class="nav-button">
        Classement Discord
    </a>
    <a href="./classements/minecraft" class="nav-button">
        Classement Minecraft
    </a>
</div>