---
import Organigramme from "./Organigramme.astro";
import TexteQuiSommesNous from "./TexteQuiSommesNous.astro";
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <!-- Colonne 1 : Organigramme -->
    <section class="p-2">
        <Organigramme />
    </section>

    <!-- Colonne 2 : Qui sommes-nous -->
    <section class="p-6">
        <TexteQuiSommesNous/>
    </section>
</div>