---

---
<div class="md:pt-17">
    <h2 class="text-3xl font-bold mb-4">Qui sommes-nous ?</h2>
    <p class="text-gray-700 leading-relaxed text-xl">
        L'Antre des Loutres : Ce nom fait suite à notre premier projet de cours, "Les Loutres Furieuses". Souhaitant
        conserver des noms en rapport avec les loutres, nous nous sommes dit que le meilleur choix de nom pour notre
        groupe ne pouvait être que "L'Antre des Loutres" !
    </p>
    <br/>
    <p class="text-gray-700 leading-relaxed text-xl">
        L'Antre des Loutres est un serveur Discord conçu pour rassembler des joueurs de jeux vidéo afin trouver
        des partenaires de parties mais aussi afin de discuter de nos jeux préférés.
    </p>
    <br/>
    <p class="text-gray-700 leading-relaxed text-xl">
        L’Antre des Loutres, c’est aussi une communauté de développeurs créatifs et motivés qui partagent leur passion à
        travers plein de projets uniques à notre univers !
    </p>

    <p class="text-gray-700 leading-relaxed text-xl">
        Nous proposons également des services en hébergeant et en administrant nous-mêmes nos serveurs de jeux, sans
        passer
        par un prestataire tiers. Cela nous offre une grande liberté dans les fonctionnalités que nous mettons à
        disposition de nos utilisateurs.
        En effet, nos bots Discord, connectés à nos serveurs, peuvent les ouvrir, les informer et interagir avec eux.
        Grâce à cela, nos utilisateurs disposent d'une grande autonomie dans leurs actions via des commandes simples.
        <br/>
        Voilà, en gros, c’est ça l’Antre des Loutres.
    </p>
    <div class="w-full flex flex-wrap items-center justify-center gap-4 sm:gap-6 z-10 px-4 my-8 text-xl">
        <a
                href="/projets"
                class="text-black border border-black/90 font-semibold py-3 px-8 text-lg rounded-lg shadow-md backdrop-blur-md transition-all duration-300 hover:bg-white/40 hover:scale-105 bg-white/20"
        >
            Nos projets
        </a>
    </div>
</div>

<style>
    .p {
        font-size: x-large;
    }
</style>