---

---
<div class="md:pt-17">
    <h2 class="text-3xl font-bold mb-4">Qui sommes-nous ?</h2>
    <p class="text-gray-700 leading-relaxed">
        L'Antre des Loutres : Ce nom fait suite à notre premier projet de cours, "Les Loutres Furieuses". Souhaitant
        conserver des noms en rapport avec les loutres, nous nous sommes dit que le meilleur choix de nom pour notre
        groupe ne pouvait
        être que "L'Antre des Loutres" !
    </p>
    <br/>
    <p class="text-gray-700 leading-relaxed">
        L'Antre des Loutres est un serveur Discord conçu pour rassembler des joueurs de jeux vidéo afin trouver
        des partenaires de parties mais aussi afin de discuter de nos jeux préférés.
    </p>
    <br/>
    <p class="text-gray-700 leading-relaxed">
        Nous proposons également des services en hébergeant et en administrant nous-mêmes nos serveurs de jeux, sans passer
        par un prestataire tiers. Cela nous offre une grande liberté dans les fonctionnalités que nous mettons à disposition de nos utilisateurs.
        En effet, nos bots Discord, connectés à nos serveurs, peuvent les ouvrir, les informer et interagir avec eux.
        Grâce à cela, nos utilisateurs disposent d'une grande autonomie dans leurs actions via des commandes simples.
        <br/>
        Voilà, en gros, c’est ça l’Antre des Loutres.
    </p>
</div>