---
import UserClassement from "../../components/classements/discord/tableau/UserClassement.astro";
import Layout from "../../layouts/Layout.astro";
import Banner from "../../components/Banner.astro";
import AreaTitle from "../../components/AreaTitle.astro";
import Title2 from "../../assets/titles/top-joueurs.png";
---
<Layout>
    <Banner bannerUrl=`/panoramas/minecraft/Tortilune.webp`/>
    <AreaTitle titleImage={Title2} backgroundColor="transparent"/>
    <div class="classement-container">
        <UserClassement/>
    </div>
</Layout>

<style>
    .page-title {
        margin-top: 50px;
        margin-bottom: 50px;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .page-title-bg {
        margin-top: 20px;
        margin-bottom: 20px;
        align-items: center;
        display: flex;
        flex-direction: column;

        background-color: #333;
    }

    @media (max-width: 768px) {
        .page-title {
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .page-title-bg {
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }
</style>