---
import "../styles/global.css";
import Header from '../components/Header.astro';
import adl_logo from "../assets/adl_small_logo.png";
import Footer from "../components/Footer.astro";
---
<!doctype html>
<html lang="fr">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/png" href={adl_logo.src} />
	<meta name="generator" content={Astro.generator} />
	<title>Antre des Loutres</title>
    <meta content="Antre des loutres" property="og:title" />
    <meta content="Bienvenue dans l'Antre des loutres 🦦 — un lieu de partage, d'amitié et de bonne humeur !" property="og:description" />
    <meta content="https://antredesloutres.fr" property="og:url" />
    <meta content="https://antredesloutres.fr/_astro/adl_small_logo.D-nH0BMB.png" property="og:image" />
    <meta content="#7a3716" data-react-helmet="true" name="theme-color" />

</head>
<body class="flex flex-col min-h-screen overflow-x-hidden bg-white">
	<Header />
		<main class="flex-grow">
			<slot />
		</main>
	<Footer />
</body>
</html>
