---
type AstroloutreImages = {
    id?: number,
    nom: string,
    origine: string,
    auteur: string,
    path: string,
    jeu: string,
};

const screenList: AstroloutreImages[] = [
    {
        nom: "Screen 1",
        path: "https://cdn.discordapp.com/attachments/1112800068794331137/1400569728887427112/image.png?ex=68ba9974&is=68b947f4&hm=0dfb12f861e892251cd5ea85afab685eba6ceee27cce1d8af5223f5b52c9f599&",
        origine: "",
        auteur: "",
        jeu: "",
    },
    {
        nom: "Screen 2",
        path: "https://cdn.discordapp.com/attachments/1112800068794331137/1400569728887427112/image.png?ex=68ba9974&is=68b947f4&hm=0dfb12f861e892251cd5ea85afab685eba6ceee27cce1d8af5223f5b52c9f599&",
        origine: "",
        auteur: "",
        jeu: "",
    },
    {
        nom: "Screen 3",
        path: "https://cdn.discordapp.com/attachments/1112800068794331137/1400569728887427112/image.png?ex=68ba9974&is=68b947f4&hm=0dfb12f861e892251cd5ea85afab685eba6ceee27cce1d8af5223f5b52c9f599&",
        origine: "",
        auteur: "",
        jeu: "",
    },
];
---
<!-- CSS -->
<style>
    .serveur-screen {
        display: grid;
        gap: 1rem;
        padding: 1rem;
    }

    .screen-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .screen-item img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 0.5rem;
        transition: transform 0.2s ease;
    }

    .author {
        margin-top: 0.5rem;
        font-size: 0.875rem;
        color: #555;
        font-style: italic;
    }

</style>

<!-- Contenu de la page -->
<div class="serveur-screen">
    {screenList.map((screen) => (
            <div class="screen-item">
                <img src={screen.path} alt={screen.nom}/>
                <p class="author">Par : {screen.auteur || "Inconnu"}</p>
            </div>
    ))}
</div>
