---
type AstroloutreImages = {
    id?: number,
    nom: string,
    origine: string,
    auteur: string,
    path: string,
    jeu: string,
};

// TODO : Mettre la récupération via l'API
const screenList: AstroloutreImages[] = [
    {
        nom: "Screen 1",
        path: "https://cdn.discordapp.com/attachments/1112800068794331137/1415049985707475136/2025-09-09_21.02.41.png?ex=68c3c5be&is=68c2743e&hm=60494362991558398f2341dc7591bfa0e2ea78fda0cb9ae74f0d4d90d54c95ab&",
        origine: "",
        auteur: "Azertor",
        jeu: "",
    },
    {
        nom: "Screen 2",
        path: "https://cdn.discordapp.com/attachments/1112800068794331137/1415048777383018496/2025-09-09_20.58.02.png?ex=68c3c49e&is=68c2731e&hm=2ba9b3eeb04ab6945e38cc3da63611fa61d659346149817d06756f5d9a5fa64b&",
        origine: "",
        auteur: "Azertor",
        jeu: "",
    },
    {
        nom: "Screen 2",
        path: "https://cdn.discordapp.com/attachments/1112800068794331137/1415048777383018496/2025-09-09_20.58.02.png?ex=68c3c49e&is=68c2731e&hm=2ba9b3eeb04ab6945e38cc3da63611fa61d659346149817d06756f5d9a5fa64b&",
        origine: "",
        auteur: "Azertor",
        jeu: "",
    },
    {
        nom: "Screen 2",
        path: "https://cdn.discordapp.com/attachments/1112800068794331137/1415048777383018496/2025-09-09_20.58.02.png?ex=68c3c49e&is=68c2731e&hm=2ba9b3eeb04ab6945e38cc3da63611fa61d659346149817d06756f5d9a5fa64b&",
        origine: "",
        auteur: "Azertor",
        jeu: "",
    },
    {
        nom: "Screen 2",
        path: "https://cdn.discordapp.com/attachments/1112800068794331137/1415048777383018496/2025-09-09_20.58.02.png?ex=68c3c49e&is=68c2731e&hm=2ba9b3eeb04ab6945e38cc3da63611fa61d659346149817d06756f5d9a5fa64b&",
        origine: "",
        auteur: "Azertor",
        jeu: "",
    },
    {
        nom: "Screen 2",
        path: "https://cdn.discordapp.com/attachments/1112800068794331137/1415048777383018496/2025-09-09_20.58.02.png?ex=68c3c49e&is=68c2731e&hm=2ba9b3eeb04ab6945e38cc3da63611fa61d659346149817d06756f5d9a5fa64b&",
        origine: "",
        auteur: "Azertor",
        jeu: "",
    },

];
---
<!-- CSS -->
<style>
    .serveur-screen {
        display: grid;
        gap: 1rem;
        padding: 1rem;
        grid-template-columns: repeat(4, 1fr); /* 2 colonnes égales */
    }

    @media (max-width: 1200px) {
        .serveur-screen {
            grid-template-columns: repeat(3, 1fr); /* 2 colonnes égales */
        }
    }

    @media (max-width: 750px) {
        .serveur-screen {
            grid-template-columns: 1fr; /* 1 colonne sur petits écrans */
        }
    }

    .screen-item {
        background-color: #f9fafb;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border: 1px solid #ddd;
        border-radius: 0.5rem;
        overflow: hidden;
        transition: transform 0.2s ease;
        padding: 0.5rem;
    }

    .screen-item img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 0.5rem;
    }

    .screen-item:hover {
        transform: scale(1.02);
    }

    .author {
        margin-top: 0.5rem;
        font-size: 0.875rem;
        color: #555;
        font-style: italic;
    }
</style>

<!-- Contenu de la page -->
<div class="serveur-screen">
    {screenList.map((screen) => (
            <div class="screen-item">
                <img src={screen.path} alt={screen.nom}/>
                <p class="author">Par : {screen.auteur || "Inconnu"}</p>
            </div>
    ))}
</div>